* {
	box-sizing: inherit;
}

html {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eaeaf2;
	font-family: "Palanquin", sans-serif;
	user-select: none;
}

#app {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;

	& .bar {
		display: flex;
		align-items: center;
		width: 100%;
		background-color: #FFF;
		box-shadow: 0 4px 3px -3px #949494;
		padding: 10px;
		> * {
			margin: 0 10px;
		}
	}
	& .icon {
		width: 48px;
		height: 48px;
		margin-right: 15px;
	}
	& .search {
		flex: 1;
		input {
			width: 100%;
		}
	}

	& .panelContainer {
		display: flex;
		flex-direction: row;
		height: 100vh;
	}

	& .side-panel {
		flex: 0 0 auto;
		width: 250px;
		padding: 10px;
		background-color: #fff;
	}

	& .main-panel {
		flex: 1 1;
		padding: 20px;
		display: flex;
		flex-direction: column;

		& .header-panel {
			display: flex;
			flex: 0 0 auto;
			flex-direction: column;
			& .title {
				font-family: "Pathway Gothic One", sans-serif;
				text-align: center;
				font-size: 32px;				
				& .selector {
					display: inline-block;
					border-bottom: 1px dashed #222222;
				}
			}

			& .subtitle {
				text-transform: uppercase;
				font-size: 18px;
				color: #949494;
				text-align: center;
				& .selector {
					display: inline-block;
					border-bottom: 1px dashed #aaa;
				}
			}

			& .pt-form-group {
				margin: 0 0 5px;
			}
		}
	}

	& .viz {
		flex: 1 1 auto;
		height: 50%;
	}

	& .timeline {
		justify-content: center;
		align-items: center;
		height: 50px;

		& input {
			display: block;
			width: 100%;
		}
	}
}
