* {
	box-sizing: inherit;
}

html {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #EAEAF2;
	font-family: 'Palanquin', sans-serif;
	user-select: none;
}

#app {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	height: 100vh;



	& .side-panel {
		flex: 0 0 auto;
		width: 250px;
		padding: 10px;
		background-color: #FFF;
	}

	& .main-panel {
		flex: 1 1;
		padding: 20px;
		display: flex;
		flex-direction: column;
		height: 100vh;

		& .header-panel {
			display: flex;
			flex: 0 0 auto;
			min-height: 68px;
			flex-direction: column;
			& .title {
				font-family: "Pathway Gothic One", sans-serif;
				text-align: center;
				& .selector {
					display: inline-block;
					border-bottom: 1px dashed #222222;
				}
			}
	
			& .subtitle {
				text-transform: uppercase;
				font-size: 18px;
				color: #aaa;
				text-align: center;
				& .selector {
					display: inline-block;
					border-bottom: 1px dashed #aaa;
				}
			}

			& .pt-form-group {
				margin: 0 0 5px;
			}
		}
	}

	& .viz {
		flex: 1 1 auto;
		height: 50%;
	}

	& .timeline {
		justify-content: center;
		align-items: center;
		height: 50px;

		& input {
			display: block;
			width: 100%;
		}
	}
}
