.side-panel {
	font-size: 1rem;

	& .pt-tag {
		margin-right: 2px;
	}
}

.side-panel,
.pt-overlay {
	& .group {
		margin-top: 0.5em;

		&:first-child {
			margin-top: 0;
		}

		& .pt-popover-target {
			display: block;
		}

		& .label {
			margin: 0 0 0.2em;
		}
	}

	& .pt-popover {
		& .target-option {
			display: block;
		}
	}
}