.main-panel {
	& .header {
		text-align: center;
		margin-bottom: 10px;
		display: flex;

		& > p {
			margin: 0;
			line-height: 1.2;
		}

		& .title-wrapper {
			flex: 1 1;
			& .title {
				font-size: 28px;
				font-weight: 600;
				text-align: center;
			}

			& .subtitle {
				font-size: 18px;
				color: #949494;
				text-transform: uppercase;
			}
		}

		& .wrapper-history {
			display: inline-flex;
			align-items: flex-start;
			flex: 0 0;
			background-color: #EEEEEE;
			height: 38px;
			border-radius: 15px;
			padding: 5px;

			& .history-size {
				padding: 6px;
			}
		}

		& .pt-popover-target {
			display: inline-block;
			border-bottom: 1px dashed;
			cursor: pointer;
		}

		& .custombuckets-wrapper {
			display: flex;
			align-items: center;
			flex-direction: row;
			& .pt-label {
				margin: 0;
			}
		}
	}

	& .viz {
		flex: 0 0 auto;
		height: 75vh;

		& svg {
			display: block;
		}
	}
}
