.side-panel {
    margin: 1rem;
    padding: 1rem;
    width: 18rem;

    font-size: 1.1rem;
    color: #444;
    background-color: #ffffff;

    & .group {
        margin-bottom: 0.5em;
    }

    & .label {
        margin: 0 0 0.2em;
    }
}