.panel-assistant {
    & .brand {
        float: left;
        width: 70px;
        margin-right: 5px;
    }
    & .subtitle {
        color: #3F51B5;
    }
}

.search-list {
    list-style: none;
    & a {
        color: #222;
        &:hover {
            text-decoration: none;
        }
    }
	& li {
        cursor: pointer;
		margin-left: -40px;
		text-align: center;
		padding: 10px 20px;
		background-size: cover;
        background-position: center;
        margin-bottom: 10px;
        font-family: "Pathway Gothic One", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0.05em;
        background-color: #dbdcdd;
		
		&:hover {
			background-color: #88B0D8;
		}

	}
}
