.history-items {
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: scroll;
    & .history-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px 20px;

        & .icon {
            font-size: 32px;
        }

        & .content {
            padding: 5px 10px;
            & h5 {
                padding: 0px;
                margin: 0px;
            }
    
            & p {
                margin: 0px;
            }
        }
    }
}