.chartappearance-wrapper {
    flex: 0 0 auto;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;    
    & div {
        & label {
            margin: 0px;
        }
    }

    & .chartoptions-wrapper {
        flex-direction: row;
        align-items: center;
        display: flex;    
    }

    & .item {
        margin: 0 10px;
        display: flex;
        align-items: center;
    }
}