.pt-dialog {
    background-color: #ffffff;
    & .pt-dialog-body {
        height: 400px;
        max-height: 400px;
        & .viz-table {
            height: 360px;
            overflow: scroll;
        }
    }
}
