.paneldownload-options {
    text-align: right;
    margin-bottom: 15px;
    & .download-btn {
        color: #949494;
        font-size: 12px;
        margin-right: 15px;
        font-family: "Palanquin", sans-serif;
        &:hover {
            color: #3F51B5;
            text-decoration: none;
        }
    }
}