.select {
	&-box {
		position: relative;
		display: inline-block;

		line-height: 2em;
		font-size: 1em;
		white-space: nowrap;

		cursor: default;

		&.open {
			outline: 1px solid #aaa;
			outline-offset: -1px;
		}
	}

	&-current {
		display: flex;
		flex-direction: row;
		align-items: center;
		background: #ffffff;

		&-option {
			flex: 1 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		&-icon {
			margin: 0 0.25em;
			line-height: 1;
			font-size: 1.2em;
		}

		& .icon-caret {
			color: #ddd;
		}
	}

	&-filter {
		& input {
			padding: 0 0.25em;
			width: 100%;

			line-height: inherit;
			font-size: inherit;
			font-family: inherit;

			background: transparent;
			border: 0 none;
			outline: 0 none;
		}
	}

	&-options {
		display: block;
		overflow: auto;

		position: absolute;
		left: 0;
		z-index: 9999;

		margin: 0.25em 0 0;
		min-width: 100%;
		max-height: 12em;

		border: 1px solid #aaa;
		background-color: #dddddd;
	}

	&-option {
		display: block;
		padding: 0 0.25em;
		line-height: inherit;

		&s &:hover {
			background-color: #aaa;
		}

		&.disabled {
			color: #999;
		}
	}
}
