.select-charttype {
	&.pt-popover-target {
		display: block;
	}

	& .select-option {
		display: flex;
		flex-direction: row;
		align-items: center;

		padding: 0 0.5em;

		line-height: 3em;
		white-space: nowrap;

		cursor: default;

		&.current {
			color: #555;
			background: #f0f0f0;
		}

		& .icon {
			flex: 0 0;
			height: 2em;
			margin-right: 0.5em;
		}
		& .value {
			flex: 1 1;
			width: 0;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		& .pt-icon-standard {
			flex: 0 0;
		}

		&.active {
			background: #ccc;
		}
	}
}
