@import "@blueprintjs/table/dist/table.css";

.download {
	padding: 10px;
}

.table {
	background-color: #fff;
	border-collapse: collapse;

	& thead,
	& tbody {
		display: block;
	}

	& .table-header {
		background-color: #2196f3;
		color: #ffffff;
		text-transform: uppercase;
		font-size: 18px;
		text-align: left;
	}

	& .table-body {
		& .table-row:nth-child(odd) td {
		}
		& .table-row:nth-child(even) td {
			background-color: rgba(0, 0, 0, 0.05);
		}
	}

	& .table-cell {
		padding: 8px 12px;
	}
}
