* {
	box-sizing: inherit;
}

html {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

.container {
	display: flex;
	flex-direction: row;
	height: 90vh;

	& .main-panel {
		flex: 0 0 auto;
		width: 250px;
		padding: 10px;
	}

	& .viz-wrapper {
		flex: 1 1;
		padding: 10px;
	}
}

.btn {
	margin-top: 10px;
	width: 100%;
	background-color: var(--dark);
	border-width: 0px;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
	&:hover {
		background-color: var(--dark);
	}
}

