* {
	box-sizing: inherit;
}

html {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
}

#app {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	height: 100vh;

	& .side-panel {
		flex: 0 0 auto;
		width: 250px;
		padding: 10px;
	}

	& .main-panel {
		flex: 1 1;
		display: flex;
		flex-direction: column;
		padding: 10px;
		height: 100vh;
	}

	& .viz {
		flex: 1 1 auto;
		height: 50%;
	}

	& .timeline {
		justify-content: center;
		align-items: center;
		height: 50px;

		& input {
			display: block;
			width: 100%;
		}
	}
}

.btn {
	margin-top: 10px;
	width: 100%;
	background-color: var(--dark);
	border-width: 0px;
	border-radius: 3px;
	padding: 5px;
	cursor: pointer;
	&:hover {
		background-color: var(--dark);
	}
}

