.panel-assistant {
    & .brand {
        float: left;
        width: 70px;
        margin-right: 5px;
    }
    & .subtitle {
        color: #3F51B5;
    }
}

.search-list {
    list-style: none;
    & a {
        color: #222;
        &:hover {
            text-decoration: none;
        }
    }
	& li {
        cursor: pointer;
		margin-left: -40px;
		text-align: center;
		padding: 10px 20px;
		background-size: cover;
        background-position: center;
        margin-bottom: 10px;
        font-family: "Pathway Gothic One", sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 0.05em;
        background-color: #dbdcdd;
		
		&:hover {
			background-color: #88B0D8;
		}
		&.search-1 {
			//background-image: url(https://cdn.pixabay.com/photo/2017/07/30/16/12/tiler-2554768_960_720.jpg);
		}
		&.search-2 {
			//background-image: url(https://cdn.pixabay.com/photo/2017/07/30/16/12/tiler-2554768_960_720.jpg);
		}
		&.search-3 {
			//background-image: url(https://cdn.pixabay.com/photo/2014/10/23/15/53/coal-fired-power-plant-499910_960_720.jpg);
		}
		&.search-4 {
			//background-image: url(https://cdn.pixabay.com/photo/2017/03/27/13/17/adult-2178656_960_720.jpg);
		}
	}
}
