.viz-selector-wrapper {
    background-color: #fff;
    padding: 10px;
    & .title {
        font-size: 18px;
    }

    & .icons {
        & .icon {
            cursor: pointer;
            padding: 5px;
            width: 50px;
            &:hover {
                background-color: #E3F2FD;
            }
            &.active {
                background-color: #E8EAF6;
            }
        }
    }
}