.viz-selector-wrapper {
    margin-bottom: 10px;
    border: 1px solid #C5CAE9;
    background-color: #fff;
    & .title {
        font-size: 18px;
        padding: 5px 10px;
    }
    
    & .panel-options {
        padding: 5px 10px;

        & .title {
            margin: -5px -10px 10px;
            padding: 1px 10px;
            font-size: 14px;
            background-color: var(--dark);
        }
    }

    & .icons {
        padding: 5px 10px;
        & .icon {
            cursor: pointer;
            padding: 5px;
            width: 50px;
            &:hover {
                background-color: #E3F2FD;
            }
            &.active {
                background-color: #E8EAF6;
            }
        }
    }
}